<%= form_for photo, html: {multipart: true} do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content, "Descripción de la Imágen" %>
    <%= f.text_field :content, :class => 'form-control', :placeholder => "Contenido de la foto" %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :image, "Imágen" %>
      <%= f.file_field :image %>
      <%= f.text_field :remote_image_url, :class => 'form-control' , :placeholder => " ó inserte URL de la imágen" %>
      <%= f.hidden_field :image_cache %>
      <%= image_tag(photo.image) if photo.image? %>


      
    </div>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
