<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @photo.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@photo.image, :style => 'width:500px') %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

<%= link_to "Más fotos del usuario", photosof_path(@photo.user.id) %>
		